@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary-main: #25b1a2;
  --color-primary-dark: #1a7e73;
  --color-primary-light: rgba(37, 177, 162, 0.08);

  --color-secondary-main: rgb(227, 90, 117);
  --color-secondary-dark: rgb(197, 78, 101);
  --color-secondary-light: rgba(227, 90, 117, 0.1);

  --color-tertiary-main: #181b35;
  --color-tertiary-light: rgba(24, 27, 53, 0.03);
  --color-tertiary-text: #181b35;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  .card {
    @apply p-6 rounded-lg border border-gray-200 transition-all duration-300;
  }

  .input-field {
    @apply p-2 border border-gray-300 rounded-md shadow-sm focus:ring-primary-main focus:border-primary-main;
  }
}

.btn-primary {
  background-image: linear-gradient(to right, var(--color-primary-main), #4ddacb);
  color: white;
  transition: all 0.3s ease;
  cursor: pointer;
}
.btn-primary:hover {
  background-image: linear-gradient(to right, var(--color-primary-dark), var(--color-primary-main));
  transform: translateY(-1px);
  box-shadow: 0 4px 10px rgba(37, 177, 162, 0.4);
}

.btn-secondary {
  background-color: var(--color-primary-light);
  color: var(--color-primary-main);
  border: 1px solid var(--color-primary-main);
  transition: all 0.3s ease;
  cursor: pointer;
}
.btn-secondary:hover {
  background-color: var(--color-primary-main);
  color: white;
  transform: translateY(-1px);
  box-shadow: 0 2px 5px rgba(37, 177, 162, 0.3);
}

/* Print styles */
@media print {
  .no-print {
    display: none !important;
  }

  body {
    background: white !important;
  }

  button {
    display: none !important;
  }

  .print-show {
    display: block !important;
  }
}
